body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gameboard {
    display: grid;
    width: 300px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px black solid;
    font-size: 30px;
}

